<form>
    <h1>PROJETOS</h1>
    <form action="/projetos/cadastar" method="post">
        <center><label for="Id">Id</label></center>
        <center><input type="text" id="Id" name="Id" placeholder="Número do Id"></center>

        <center><label for="Projetos">Projetos</label>
            <center>
                <center><input type="text" id="Projetos" name="Projetos" placeholder="Nome do Projeto"></center>

                <center><label for="Ambiente">Ambiente</label></center>
                <center><input type="text" id="Ambiente" name="Ambiente" placeholder="Qual Ambiente?"></center>

                <center><button type="submit">Cadastrar</button></center>

    </form>
    <center><a href="">DÚVIDAS!</a></center>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
